* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* background-color: #54E6AF; green*/
/* background-color: #121725; blue950 */
/* background-color: #2C344B; blue900 */
/* background-color: #5A668A; blue600 */
/* background-color: #C2CBE5; blue300 */
/* background-color: #FB3E3E; red */
/* font
        Text Preset 1 - Chivo Light (All Uppercase)
        48 px - 120% line height - 0px Letter Spacing 

        Text Preset 2 - Chivo Light
        18 px - 150% line height - 0px Letter Spacing

        Text Preset 3 - Chivo Bold
        Chivo Bold - 14 px - 200% line height - 0px Letter Spacing
*/